{% extends "portfolios/layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<div class="row  justify-content-center">
    
      
    <div class="col-md-4 text-center">
        <form method="post" action="{% url 'portfolios:buy' %}">
            <!-- <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="form-control" min="1" name="shares" placeholder="Shares" type="number">
            </div> -->
            {% csrf_token %}
            {{form}}
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Buy</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}